<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Webex_Launcher_Auto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Webex_Launcher_Auto.Properties.Settings>
            <setting name="attesa" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="materia_1" serializeAs="String">
                <value>Materia Non Impostata</value>
            </setting>
            <setting name="materia_2" serializeAs="String">
                <value>Materia Non Impostata</value>
            </setting>
            <setting name="materia_3" serializeAs="String">
                <value>Materia Non Impostata</value>
            </setting>
            <setting name="materia_4" serializeAs="String">
                <value>Materia Non Impostata</value>
            </setting>
            <setting name="prof_1_1_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_1_1_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_1_2_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_1_2_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_1_3_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_1_3_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_1_4_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_1_4_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_2_1_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_2_1_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_2_2_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_2_2_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_2_3_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_2_3_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_2_4_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_2_4_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_3_1_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_3_1_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_3_2_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_3_2_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_3_3_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_3_3_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_3_4_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_3_4_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_4_1_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_4_1_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_4_2_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_4_2_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_4_3_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_4_3_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="prof_4_4_nome" serializeAs="String">
                <value>Nome Prof Non Impostato</value>
            </setting>
            <setting name="prof_4_4_cognome" serializeAs="String">
                <value/>
            </setting>
            <setting name="auto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="browser" serializeAs="String">
                <value>Chrome</value>
            </setting>
        </Webex_Launcher_Auto.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
